body{
    position: relative;
    left: 80px;
    background: lightgreen;
}


.week5_tutorial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #04AA6D;

    width: 200px;
    height: 50px;
    outline: 5px solid white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;

}
.week5_tutorial:hover{
    outline: 5px solid black;
}

ul li a:hover{
    font-weight: bold;
    color:#2100f7;
}
