body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

a {
    cursor: url('/assets/cursor.cur'), auto;
}



@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes rotator {
    100% {
        rotate: 360deg;
    }
}

.name-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.name-list img {
    width: 50vw;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 25% 75%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.name-list img:hover {
    animation: rotator 1s linear infinite;
}

.name-list p {
    text-align: center;
}

ul {
    list-style-type: none;
}

.name-list-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .name-list-container {
        flex-direction: row;
    }

    .name-list img {
        width: 20vw;
    }


}